<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kougeki_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,102},{232,204}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>kougeki_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{226,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{226,196}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>kougeki_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,103},{232,204}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kougeki_icon.png</string>
            <key>size</key>
            <string>{236,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd6e513fbb21aa95ac00ec697fe7afca:a6b7cbe76d880258bc947ec12b537397:aa940af90c7a949364474c356eb86112$</string>
            <key>textureFileName</key>
            <string>kougeki_icon.png</string>
        </dict>
    </dict>
</plist>
